.Edit-table {
    height: calc(100vh - 60px);
    border: none;
}

.el-tabs__item {
    height: 50px;
    line-height: 50px;
}

.title-left {
    display: flex;
    flex-direction: column;
}

.title-item {
    font-size: 15px;
    font-weight: bold;
}

.el-switch__core {
    width: 60px !important;
}

.public-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.public-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#resume .md-editor-preview-wrapper {
    padding: 0;
}

#resume .md-editor-previewOnly ul {
    margin: 0;
}
#resume .md-editor-previewOnly li {
    margin: 0;
}
